.addButton {
  margin: 20px;
}

.deleteButton {
  margin: 20px;
}

.product_table {
  margin: 20px;
}

.ant-modal-content {
  width: fit-content;
}

.refreshButton {
  margin: 20px;
}

.searchForm {
  margin-left: 20px;
  margin-right: 20px;
}